.App {
  text-align: center;
  
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #020203;
  padding: 0 20px;
  height: 80px;
}
.sider{
  height: calc(100vh - 91px);
}
.logo{
  width: 120px;
  height: auto;
}
.navbar{
  display: flex;
  flex-direction: row;
}
.navbar .nav-link{
  text-decoration: none;
  color: white;
  margin-left: 125px;
 
}
.profil-title .title{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 15px;
}
.title span{
  color: #FF0000;
  margin-left: 5px;
}

.contente-sider{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #020203;
  width: 117px;
  height: 100%;
}
.contente-sider .footer{
  color: white;
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  align-items: center;
}
.footer p{
  margin: 0;
  font-size: 12px;
}
/***bouton tag****/
.tag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.tag a{
 
  margin-bottom: 10px;
}
.tag-yoga{
  position: absolute;
  transform: translateY(50%);
  margin-left: 14px;
}

.content{
  display: flex;
  flex-direction: row-reverse; 
}
.profil-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    
}
.profil-title h1{
  margin: 0;
}
.section-profil{
  width: 100%;
  margin: 20px 77px;
}
.content-grid{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 32px;
}
.content-grid .grid-1{
  display: flex;
  flex-direction: column;
  width: 70%;
  
}
.grid-1 .barchart{
  width: 100%; 
  height: 320px;
  background-color: #FBFBFB;  
}
.title-activity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.barchart .activity{
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 0 20px;
  
}

.title-activity span{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-activity span p{
  display: flex;
  padding-left: 12px;
}
.title-activity span i{
  background-color: #111;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-left: 20px;  
}
.title-activity span .color-kg{
  background-color: #FF0000;
  border-radius: 100%;
  width: 8px;
  height: 8px;  
}

.grid-1 .activite-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 263px;
  margin-top: 10px;
}
.activite-2 .linechart{
  display: flex;
  flex-direction: column;
  
  width: 32%;
  background-color:#FF0000 ;
}
.linechart .linechart-title{
  display: flex;
  justify-content:center ;
  color: #ffffffb2;
  margin-top: 20px;
 width: 100%;
}
.linechart .linechart-title p{
  text-align: start;
  color: #ffffffb2;
  width: 60%;
}
.linechart .linechart-section{
  display: flex;
  width: 100%;
  height: 126px;
  margin-top: 60px;
  
}
.activite-2 .radarchart{
  width: 32%;
  background-color:#282D30 ;
  display: flex;
    align-items: center;
    justify-content: center;
}
.radarchart .performance{
  width: 100%;
  height:100% ;
  
}
.activite-2 .bardiabarchart{
  width: 32%;
  background-color:#FBFBFB ;
}

.bardiabarchart .score{
  width: 100%;
  height: 100%;
}
.content-grid .grid-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  
}
.grid-2 .col{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  height: 124px;
  background-color: #FBFBFB;;
  
}
.col .img-icon{
  width: 60px;
  height: 60px;
  
}
.col .content-icon{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content h2{
  margin: 0;
}
.content p{
  margin: 0;
}
/* .activity {
  position: relative;
  background-color: #FBFBFB;
  width: 100%;
} */


.tooltip-activity {
  height: 120px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E60000;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: 'Roboto';
}

.legend span {
  font-weight: 500;
  font-size: 18px;
}

.legend ul {
  display: flex;
  gap: 50px;
  font-size: 16px;
  color: grey;
}

.legend ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.legend ul li::before {
  content: '•';
  font-size: 40px;
}

.legend ul li:first-child::before {
  color: #282D30;
}

.legend ul li:last-child::before {
  color: #E60000;
}

.tooltip {
  height: 40px;
  width: 60px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
}
/****css score***/
.box-score {
  background: #FBFBFB;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;

}

.box-score span:first-child {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}

.score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  text-align: center;
  font-size: 16px;
  color: #74798C;
  padding: 50px;
  background-color: white;
  border-radius: 200%;
  min-width: 57px;
  white-space: nowrap;
}

.score strong {
  font-size: 26px;
  color: #282D30;
}

@media (max-width: 1150px) {
  .score {
      padding: 40px;
      font-size: 14px;
  }
}

.title-score{
  position: absolute;
  width: 83%;
  top: 36px;
  left: -60px;
}

@media (max-width: 1024px) {
  /* Styles pour les écrans jusqu'à 1024px de largeur */

  .header {
    padding: 0 30px;
    height: 70px; 
  }

  .logo {
    width: 100px; 
  }

  .navbar .nav-link {
    margin-left: 30px; 
  }

  .section-profil{
    margin: 20px 30px;
  }
  .tag-img{
    width: 45px;
    height: 45px;
  }

  .contente-sider{
    width: 84px;
  }
  .grid-2 .col{
    padding: 0 20px;
  }

  .content-icon h2{
    font-size: 18px;
  }

  .title-score{
    position: absolute;
    width: 83%;
    top: 36px;
    left: -49px;
  }

  
}

@media (max-width: 780px) {
  /* Styles pour les écrans jusqu'à 780px de largeur */
  .section-profil{
    margin: 20px 30px;
  }

  .sider {
    height: calc(100vh - 70px);
  }

  .content-grid .grid-1 {
    width: 70%; 
  }
  .content-grid .grid-2{
    width: 25%;
  }

  .grid-2 .col{
    padding: 0 10px;
  }

  .content-icon h2{
    font-size: 16px;
  }

  .col .img-icon{
    width: 40px;
    height: 40px;
  }

  .box-score {
    width: 33%; 
  }

  .box-score span:first-child {
    top: 15px; 
    left: 15px; 
    font-size: 12px; 
  }

  .score {
    padding: 30px; 
    min-width: 40px; 
  }

  .title-score{
    position: absolute;
    width: 83%;
    top: 45px;
    left: -28px;
  }

  .linechart .linechart-section{
    margin-top: 33px;
  }

  
}